<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>848337383848-qmf3ch8mt38295djdelcat4kq5ebslrh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848337383848-qmf3ch8mt38295djdelcat4kq5ebslrh</string>
	<key>API_KEY</key>
	<string>AIzaSyC-ZR6EHgk3-6lNUUZ-uBMjoXrgBq7cWBM</string>
	<key>GCM_SENDER_ID</key>
	<string>848337383848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.pearson.MusicProject</string>
	<key>PROJECT_ID</key>
	<string>musicproject-63abd</string>
	<key>STORAGE_BUCKET</key>
	<string>musicproject-63abd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:848337383848:ios:6178a1b7547d48d2</string>
	<key>DATABASE_URL</key>
	<string>https://musicproject-63abd.firebaseio.com</string>
</dict>
</plist>